$padding-size: 25px;

$color-footer: #E9E9E9;

$fonts: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


// colors
$white: #f5f5f5;
$light-grey: #f5f5f5;
$medium-grey: #82888a;
$dark-grey: #565a5c;

/**** COLORS ****/
$primary: #26A69A;
$primary-light: #4DB6AC;
$primary-dark: #00897B;
$secondary: #FFA726;
$secondary-light: #FFB74D;
$secondary-dark: #FB8C00;
$tertiary: #FFCA28;
$tertiary-light: #FFD54F;
$tertiary-dark: #FFB300;

$alert: #EF5350;
$alert-light: #E57373;
$alert-dark: #E53935;

$text-color: #263238;
$text-color-light: #90A4AE;
$text-color-dark: #546E7A;

$success-color: #9CCC65;
$error-color: #EF5350;

$bg-grey-light: #FFFFFF;
$bg-grey-light-alt: #F8F8F8;
$bg-grey-medium: #EBEBEB;
$bg-grey-dark: #E2E2E2;

// color aliases
$accent: $secondary;
$accent-light: $secondary-light;
$accent-dark: $secondary-dark;


// admin
$admin-nav-background-color: #363c4a;
$admin-nav-text-color: #bbb;
$admin-nav-dropdown-menu-bg: #ffffff;
$admin-nav-dropdown-menu-color: #777888;
