$color-primary: $palette-teal-400 !default;
$color-primary-dark: $palette-teal-600 !default;
$color-accent: $palette-orange-400 !default;
$color-accent-dark: $palette-orange-600 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;